body {
	font-family: Helvetica, Arial, "Times New Roman";
}

img {
	position: fixed;
	left: 500px;
	top: 40px;
	width: 500px;
	height: auto;
}

ul {
	width: 300px;
}

li {
	list-style-type: none;
	margin: 5px 0;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

li.selected {
	text-decoration: line-through;
}

.teamAndPosition {
	font-size: 12px;
}

.player-rb > .teamAndPosition {
	background-color: #E8300C;
}

.player-wr > .teamAndPosition {
	background-color: #7FE6FA;
}

.player-qb > .teamAndPosition {
	background-color: #000FFF;
	color: #FFFFFF;
}

.player-te > .teamAndPosition {
	background-color: #FFCCCC;
}

.player-k > .teamAndPosition {
	background-color: #F0A804;
}

.player-def > .teamAndPosition {
	background-color: #820BBB;
	color: #FFFFFF;
}
