body {
	font-family: Helvetica, Arial, "Times New Roman";
}

img {
	position: fixed;
	left: 500px;
	top: 250px;
	width: auto;
	height: 375px;
}

.topPlayerContainer {
	position: fixed;
	left: 500px;
	top: 0;
	width: 500px;
	height: 200px;
}

.topPlayerContainer div {
	margin: 10px 0;
	font-size: 18px;
	font-weight: bold;
}

ul {
	width: 300px;
}

li {
	list-style-type: none;
	margin: 5px 0;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selected {
	text-decoration: line-through;
}

.teamAndPosition {
	font-size: 12px;
}

.player-rb > .teamAndPosition {
	background-color: #98FB98;
}

.player-wr > .teamAndPosition {
	background-color: #FFFFFF;
}

.player-qb > .teamAndPosition {
	background-color: #E8300C;
}

.player-te > .teamAndPosition {
	background-color: #ADD8E6;
}

.player-k > .teamAndPosition {
	background-color: #FBEC5D;
}

.player-def > .teamAndPosition {
	background-color: #000FFF;
	color: #FFFFFF;
}

